#bigID{
	font-size: 40px;
}
#smallID{
	font-size: 20px;
}
body{
	background-color: mediumseagreen;
}
h1{
	color: darkgreen;
}
h2{
	color: forestgreen;
}
h3{
	color: darkgreen;
}
h6{
	color: tomato;
	text-orientation: left;
	font-size: 30px;
}
#color1{
	color: darkgreen;
	font-size: 20px
}
#color11{
	color: white;
}
#color2{
	color: black;
	font-size: 20px;
}
#color3{
	color: forestgreen;
	font-size: 40px;
}
#color4{
	color: tomato;
	font-size: 30px;
}
a:link{
	color:darkblue;
	font-size:20px;
}
a:visited{
	color:purple;
	font-size:20px;
}
ol{
	background: teal;
	padding: 10px;
	margin: 5px;
}
p{
	margin: 25px 50px;
}
